<!-- <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<meta name="author" content="{{ site.name }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" async="" src="js/inpage_linkid.js" id="undefined"></script>
<script type="text/javascript" async="" src="js/ga.js"></script>
<script src="js/head.js"></script>
<script src="js/main.js"></script>
<script src="js/scroll.js"></script>

<title>{{ site.name }}</title>

<link rel="shortcut icon" href="images/favicon.ico">
<meta name="description" content="Jun Wu is a Lecturer at School of Computer Science, Nanjing University of Information Science & Technology.">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="keywords" content="Jun,Jun Wu,Computer,Science,Homepage">

<!-- <link rel="stylesheet" href="css/font.css"> -->
<link rel="stylesheet" href="css/main.css">


<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" /> -->
<!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

<!-- <script async="" type="text/javascript" src="js/google.js"></script> -->

<!-- <script src="js/google_analytics_auto.js"></script> -->
