<!-- <meta http-equiv="Content-Type" content="text/html; charset=windows-1252"> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<meta name="author" content="{{ site.name }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" async="" src="js/inpage_linkid.js" id="undefined"></script>
<script type="text/javascript" async="" src="js/ga.js"></script>
<script src="js/head.js"></script>
<script src="js/main.js"></script>
<script src="js/scroll.js"></script>

<title>{{ site.name }}</title>

<link rel="shortcut icon" href="images/favicon.ico">
<meta name="description"
  content="Jun Wu is a Lecturer at School of Computer Science, Nanjing University of Information Science & Technology.">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="keywords"
  content="Jun Wu, Computer Science, Combinatorial Optimization, SAT, MaxSAT, Clique, Vertex Cover, Heuristic Algorithm, NUIST">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="{{ site.name }} - Academic Homepage">
<meta property="og:description"
  content="Lecturer at School of Computer Science, Nanjing University of Information Science & Technology. Research in combinatorial optimization and heuristic algorithms.">
<meta property="og:image" content="{{ site.url }}/images/Jun_Wu.jpg">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.name }} - Academic Homepage">
<meta name="twitter:description"
  content="Lecturer at NUIST. Research in combinatorial optimization, SAT, MaxSAT, and graph problems.">

<!-- Canonical URL -->
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">

<!-- Schema.org structured data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jun Wu",
  "givenName": "Jun",
  "familyName": "Wu",
  "jobTitle": "Lecturer",
  "worksFor": {
    "@type": "Organization",
    "name": "Nanjing University of Information Science & Technology"
  },
  "url": "{{ site.url }}",
  "email": "wujunzero@gmail.com",
  "sameAs": [
    "https://github.com/wujunzero",
    "https://scholar.google.com/citations?user=xhn6R7EAAAAJ",
    "https://orcid.org/0000-0002-5239-5126",
    "https://dblp.org/pid/20/3894-20.html"
  ]
}
</script>
<link rel="stylesheet" href="css/main.css">