<!-- Navigation Bar -->
<header>
    <div class="container header">
        <div class="ftheader text"><a href="#home">Jun Wu</a></div>
        <div class="ftsubheader text"><a href="#publications">Publications</a></div>
        <div class="ftsubheader text"><a href="#projects">Projects</a></div>
        <div class="ftsubheader text"><a href="#teaching">Teaching</a></div>
        <div class="ftsubheader text"><a href="#educations">Educations</a></div>
        <div class="ftsubheader text"><a href="#home">Home</a></div>
    </div>
</header>